<!DOCTYPE html>
<html>
  <head>
    <title>User registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <% include ../templates/header.ejs %>
    <div class="content">
        <form action="/users/registration" method="post">
           <label for="#username">Login:</label>
            <input type="text" name="username" id="username"/>
            <label for="#firstName">Imię:</label>
            <input type="text" name="firstName" id="firstName"/>
            <label for="#lastName">Nazwisko:</label>
            <input type="text" name="lastName" id="lastName"/>
            <label for="#password">Hasło:</label>
            <input type="password" name="password" id="password"/>
            <label for="#email">Adres email:</label>
            <input type="email" name="email" id="email">
            <input type="submit" value="Rejestruj" />           
        </form>
    </div>
    <% include ../templates/footer.ejs %>
  </body>
</html>
