<div id="group" class="panel panel-body">
    <div class="form-group">
        <label class="control-label col-sm-2" for="refereesList">Sędziowie:</label>
        <div class="col-sm-10">
            <ul class="list-group">
                <% for(var i = 0;i<data.referees.length;i++){ %>
                    <li class="list-group-item"><%=data.referees[i]['firstName'] %> <%= data.referees[i]['lastName'] %></li>
                <% } %>
            </ul>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <label class="control-label col-sm-2" for="horsesList">Konie:</label>
        <div class="col-sm-10">
            <ul class="list-group">
                <% for(var j = 0;j<data.horses.length;j++){ %>
                    <li class="list-group-item"><%= data.horses[j]['horseName'] %></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>    