<div id="content-panel" class="col-lg-12 col-md-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel panel-heading text-center">
            <h1>Witaj w panelu sędziego!!</h1>
        </div>
        <form action="result/rate/horse/<%= horse._id %>" method="post">
            <div class="panel panel-body">
                <div class="panel panel-body text-center">
                    <div class="row">
                       <h4 class="text-center" style="color: white">Głowa</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="head" class="rangeslider rangeslider-horizontal" type="range" min="0" max="20" step="2" value="0"/>
                            <div id="head" class="btn btn-info">0</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                       <h4 class="text-center" style="color: white">Szyja</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="neck" class="rangeslider rangeslider-horizontal" type="range" min="0" max="20" step="2" value="0"/>
                            <div id="neck" class="btn btn-info">0</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                       <h4 class="text-center" style="color: white">Kłoda</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="kloda" class="rangeslider rangeslider-horizontal" type="range" min="0" max="20" step="2" value="0"/>
                            <div id="kloda" class="btn btn-info">0</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                       <h4 class="text-center" style="color: white">Nogi</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="legs" class="rangeslider rangeslider-horizontal" type="range" min="0" max="20" step="2" value="0"/>
                            <div id="legs" class="btn btn-info">0</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                       <h4 class="text-center" style="color: white">Ruch</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="move" class="rangeslider rangeslider-horizontal" type="range" min="0" max="20" step="2" value="0"/>
                            <div id="move" class="btn btn-info">0</div>
                        </div>
                    </div>
                    <hr>
                    <br>
                </div>
            </div>
            <div class="panel panel-footer">
                <button class="btn btn-primary btn-lg" type="submit" id="<%= horse['_id'] %>" >Prześlij oceny</button>
            </div>
        </form>
    </div>
</div>