<div class="row" id="horseForm">
   <div class="col-lg-10 col-lg-push-1 col-md-10 col-md-push-1 col-sm-10 col-sm-push-1">
    <div class="panel panel-default">
        <form action="competition/rate/horse/<%= horse._id %>" method="post">
            <div class="panel panel-body text-center">
                    <div class="row">
                       <h4 class="text-center" style="color: white">Głowa</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="head" type="hidden" class="single-slider" value="2"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                       <h4 class="text-center" style="color: white">Szyja</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="neck" type="hidden" class="single-slider" value="2"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                       <h4 class="text-center" style="color: white">Kłoda</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="kloda" type="hidden" class="single-slider" value="2"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                       <h4 class="text-center" style="color: white">Nogi</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="legs" type="hidden" class="single-slider" value="2"/>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                       <h4 class="text-center" style="color: white">Ruch</h4>
                        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-sm-12 text-center">
                            <input id="move" type="hidden" class="single-slider" value="2"/>
                        </div>
                    </div>
                    <hr>
                    <br>
            </div>
            <div class="panel panel-footer">
                <button type="submit" id="<%= horse['_id'] %>" >Prześlij oceny</button>
            </div>
        </form>
    </div>
    </div>
</div>