<!DOCTYPE html>
<html>
  <head>
    <title>TSW_EXAM</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="bootstrap.css" />
    <script src="jquery.js" ></script>
    <script src="bootstrap.js" ></script>
  </head>
  
  <body>
    <% include templates/guest_header.ejs %>
    <div class="content">
        <h1>TSW_EXAM</h1>
        <p>Welcome to TSW_EXAM</p>
    </div>
    <% include templates/footer.ejs %>
  </body>
  
</html>
