<div class="footer text-center">   
    <div class="navbar-inverse">
            <a href="/">Strona domowa</a>
            <a href="/contest/list">Zawody</a>
            <a href="/result/list">Wyniki</a>
    </div>
    <br>
    <p>© Copyright 2016</p>
</div>