<div class="navbar navbar-inverse navbar-fixed-bottom text-center">   
    <div class="navbar-inverse">
            <a href="/">Strona domowa</a>
            <a href="/contest/list">Zawody</a>
            <a href="/result/list">Wyniki</a>
    </div>
    <br>
    <p style="color: white">© Copyright 2016</p>
</div> 
<script>  
    var URL_SERVER = "https://localhost:3000";
    var socket = io.connect(URL_SERVER);
    
    //socket.emit('reqH','getAllHorses');
    //socket.emit('reqH','getAllReferees');
    socket.on("referees",function(referees){
        console.log(referees);
    });
    
    socket.on("message",function(data){
        console.log(data); 
    });
    
    socket.on("horses",function(data){
        console.log(data);
    });
</script> 