<div class="footer">
    
<nav>
    <ul>
        <li><a href="index.ejs">Strona główna</a></li>
        <li><a href="user/registration.ejs">Rejestracja</a></li>
        <li><a href="user/login.ejs">Logowanie</a></li>
        <li><a href="user/profile.ejs">Mój profil</a></li>
    </ul>
</nav>
    
</div>