<div class="footer text-center">   
    <div class="navbar-inverse">
            <a href="/">Strona domowa</a>
            <a href="/contest/list">Zawody</a>
            <a href="/result/list">Wyniki</a>
    </div>
    <br>
    <p>© Copyright 2016</p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>  
    var URL_SERVER = "https://localhost:3000";
    var socket = io.connect(URL_SERVER);

    socket.on("message",function(data){
    console.log(data); 
    });
</script>  