<div class="header">
    <nav>
        <ul>
            <li><a href="index.ejs">Strona główna</a></li>
            <li><a href="contst/contests.ejs">Zawody</a></li>
            <li><a href="contest/results.ejs">Wyniki</a></li>
        </ul>
        
        <ul>
            <li><a href="user/registration.ejs">Rejestracja</a></li>
            <li><a href="user.login.ejs">Logowanie</a></li>
        </ul>
    </nav>
</div>