html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/background2.jpg);
  background-size: 100% 100%;
  background-repeat: repeat-y;
}
body > div.content {
  height: 70vh;
  padding-top: 8vh;
}
a {
  color: #00B7FF;
}
.zindex50 {
  z-index: -1 !important;
}
